[submodule "lib/ArduinoSTL"]
	path = lib/ArduinoSTL
	url = https://github.com/ciband/avr_stl.git
[submodule "lib/Arduino_AVRSTL"]
	path = lib/Arduino_AVRSTL
	url = https://github.com/arduino-libraries/Arduino_AVRSTL.git
